body {
    margin: 0;
    font: 1em sans-serif;
    background-color: #353b40;
    color: #f8edef;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}

header {
    display:flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    flex-direction:column;
    padding: 1% 10% 1% 10%;
}
.nav {
    display:flex;
    justify-content: center;
    padding: 1% 10% 1% 10%;
}

.gridCtr {
    display:flex;
    justify-content: center;
    color:#525ceb; 
}

.grid {
    display:flex;
    flex-wrap: wrap;
    overflow:hidden;
    width:500px;
    height:500px;
}

.gridBox {
    border: none;
    background-color: #fff;
    flex:1 0 calc(100% /16);
    aspect-ratio: 1;
    box-sizing:border-box;
}

footer {
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    padding: 1% 10% 1% 10%;
    margin-top:auto;
}
